body{
    background-color: rgb(163, 247, 156);
}
title{
    color: white;
}
header{
    background-color:rgb(240, 165, 0);  
   
}
.titulo{
    background-size: lightyellow;
}
 
.headermenu{
    background-color: black;
    height: 40px;
}
nav{
    margin: -38px;
}
ul,ol{
    list-style: none;
}
.nav1 li   a{
    background-color: mintcream;
    color: black;
    text-decoration: none;
    padding: 10px 15px;
    display: block;
    

}
.nav1 > li{
    float: left;
}
.nav1  li a:hover{
    
    background-color: brown;
}
.nav1 li ul{
    display: none;
    position: absolute;
    min-width: 140px;
}
.nav1 li:hover > ul{
    display: block;
}
nav li ul li{
    position: relative;
}
nav li ul li ul{
    right: -140px;
    top: 0px;
}

section{
    background-color: rgb(8, 32, 50);
    grid-column: 1/4;
}
aside{
    background-color:rgb(255, 255, 255);
    grid-column: 4/5;
}
footer{
    background-color: rgb(192, 196, 201);
}

main{
    display: grid;
    grid-template-columns: 1fr  1fr 1fr 1fr  ;
}
.autor{
    color: white;
}
.digital1imgen{
    color: white;
    right: 300px;
    
}

.digitalaudio{
    color: white;
}

.digitalaudio video{
    color: white;
}

.link-primary{
    background-color: rgb(192, 223, 130);
    margin-left: 40px ;
    margin-right: 12px;
    font-size: 21px;
    font-style: oblique;
  
}
.link-secondary{    
    background-color: rgb(192, 223, 130);
    margin-right: 12px;
    font-style: oblique;
   
    
}
.link-success{
    background-color:rgb(192, 223, 130) ;
    margin-right: 12px;
    font-style: oblique;
    
}
.link-danger{
        background-color: rgb(192, 223, 130);
        margin-right: 12px;
        font-style: oblique;
        

}

.link-warning{
    background-color: rgb(192, 223, 130);
    margin-right: 12px;
    font-style: oblique;
}
.link-info{

    background-color: rgb(192, 223, 130);
    margin-right: 12px;
    font-style: oblique;
}
.link-light{
 
    background-color: rgb(192, 223, 130);
    margin-right: 12px;
    font-style: oblique;
  
}
.container-fluid{
    background-color: rgb(231, 211, 31);
    grid-auto-rows: min-content;
    font-style: oblique;

}

.headeraprendizaje1{
 background-color:rgb(231,211, 31);
 
}

.bodypajina1{
    margin: 20px;
}
.bodyaprendizaje2{
    margin: 30px;
}

.headeraprendizaje2 nav{
    margin-left: 0px;
    margin-right: 0px;
    }
.mainaprendizaje1 h1{
    color: white;
}
.mainaprendizaje2 h1{
    color: white;

}
.mainaprendizaje2 div{
    color: white;
    margin-left: 10px;
    margin-right: 20px;
    margin-top: 10px;

}
.col {
    background-color:green;
}